{# spinner #}
<div class="loading" ng-if="flagDisplaySpinner">Loading&#8230;</div>

{# Modal Aler#}
<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="modalAlertLabel">
  	<div ng-class="modal.alert.modalClass" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="modalAlertLabel">// modal.alert.label //</h4>
	      	</div>
	      	<div class="modal-body">
	        	// modal.alert.body //
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
	      	</div>
    	</div>
  	</div>
</div>

{# Modal Confirm #}
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel">
  	<div ng-class="modal.confirm.modalClass" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="modalConfirmLabel">// modal.confirm.label //</h4>
	      	</div>
	      	<div class="modal-body">
	        	// modal.confirm.body //
	      	</div>
	      	<div class="modal-footer">
	      		<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modal.confirm.callback()">Подтвердить</button>
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	      	</div>
    	</div>
  	</div>
</div>